#root {
  background: #f0f0f0;
  border-radius: 5px;

  padding: 12px;
  width: 100%;
  max-width: 358px;

  display: grid;
  grid-template-areas:
    "logo name place"
    "logo title title"
    "stack stack stack";
}

#logo {
  grid-area: logo;
}

#name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #202020;

  grid-area: name;
}

#title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #210037;

  grid-area: title;
}

#place {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #202020;

  grid-area: place;
}

#stack {
  grid-area: stack;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
