#root {
  position: relative;
}

#searchContainer {
  width: 432px;
  height: 44px;
  left: 196px;
  top: 98px;

  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 30px;
  display: flex;

  padding: 15px 12px;
}

#selectedContainer {
  display: flex;
}

#stackContainer {
  width: 372px;
  height: 300px;
  left: 196px;
  top: 146px;

  background: #f0f0f0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.45);
  border-radius: 10px;

  position: absolute;
  top: 48px;
  left: 0;
  z-index: 2;
}
